<div class="col-md-4 offset-4 text-center" style="height: 50vh; margin-top: 200px;">
  <div class="card mat-elevation-z10">
    <div class="card-header">
      <h2 style="color: rgb(114, 199, 58);">Contact</h2>
    </div>
    <div class="card-body">
      <p>contact@WorldTronics.ru</p>
    </div>
  </div>
  <a class="float-left mt-2" routerLink = '/shop'>back to shop</a>
</div>
