<div class="card mb-4 mat-elevation-z10" style="border-radius: 10px;">
  <!-- <div class="text-center" style="background-color: cadetblue">
    {{ productitem.id }}
  </div> -->
  <img
    class="bd-placeholder-img card-img-top"
    style="border-radius: 10px;"
    width="100%"
    [src]="productitem.imageUrl"
  />
  <div class="card-body">
    <strong class="card-text">
      {{ productitem.title }}
      <i
        *ngIf="addedToWishList"
        class="fas fa-heart float-right heart"
        (click)="handleRemoveFromWishList()"
      ></i>
      <i
        *ngIf="!addedToWishList"
        class="far fa-heart float-right heart"
        (click)="handleAddToWishList()"
      ></i>
    </strong>
    <div>
      <strong>{{ productitem.price | currency: "INR" }}</strong>
    </div>
    <p class="card-text">
      {{ productitem.description }}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          type="button"
          style="
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        "

          (click)="addToCart()"
          mat-raised-button
          color="primary"
        >
          add to cart
        </button>
        <button
          type="button"
          style="
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        "

          routerLink="/view/{{ productitem.id }}"
          mat-raised-button
          color="accent"
        >
        details<i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
