<div class="row" style="margin-top: 120px">
  <div class="col-md-4 offset-4">
    <div
      class="text-center position-absolute"
      style="bottom: 400px; width: 92%; color: red"
      *ngIf="switch"
    >
      <strong>username or password do not match !!</strong>
    </div>
    <div class="card  mat-elevation-z8">
      <div
        *ngIf="loggedinUser.length === 0"
        class="card-header text-center"
        style="background-color: rgb(178, 236, 178)"
      ><strong>LOGIN HERE <i class="fas fa-sign-in-alt"></i></strong>

      </div>
      <div
        *ngIf="loggedinUser.length !== 0"
        class="card-header text-center"
        style="background-color: rgb(87, 192, 87)"
      >
        REGISTERED !! login here 🖊️
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="username">username</label>
            <input
              class="form-control"
              type="text"
              id="username"
              name="username"
              placeholder="enter here"
              required
              #username="ngModel"
              [(ngModel)]="customModel.username"
              [class.is-invalid]="username.invalid && username.touched"
              pattern="[0-9a-zA-Z]{4,}"
            />
          </div>

          <small
            class="text-danger"
            [class.d-none]="username.untouched || username.dirty"
            >required</small
          >
          <div
            *ngIf="username.errors && (username.invalid || username.touched)"
          >
            <!-- <small class="text-danger" *ngIf="username.errors.required">required</small> -->
            <small class="text-danger" *ngIf="username.errors.pattern"
              >user must be atleast 4 characters</small
            >
          </div>

          <div class="form-group">
            <label for="password">password</label>
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              placeholder="enter here"
              required
              #password="ngModel"
              [(ngModel)]="customModel.password"
              [class.is-invalid]="password.invalid && password.touched"
              pattern="[0-9a-zA-Z]{8,}"
            />
          </div>

          <small
            class="text-danger"
            [class.d-none]="password.untouched || password.dirty"
            >required</small
          >
          <div
            *ngIf="password.errors && (password.invalid || password.touched)"
          >
            <!-- <small class="text-danger" *ngIf="password.errors.required">required</small> -->
            <small class="text-danger" *ngIf="password.errors.pattern"
              >password must be atleast 8 characters</small
            >
          </div>

          <div class="form-group mb-0">
            <input
              type="checkbox"
              id="rememberme"
              name="rememberme"
              [(ngModel)]="customModel.rememberme"
            />
            <label class="ml-1" for="rememberme">Remember me</label>
          </div>
          <h4 class="mb-4 text-center">
            do not have an account?
            <span><a routerLink="/register"> sign up!</a></span>
          </h4>
          <button
            class="btn btn-block"
            type="submit"
            [disabled]="!loginForm.valid"
            mat-raised-button
            color = "primary"
          >
            login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
