<mat-toolbar
  class="sticky-top mat-elevation-z6"
  style="
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  "
  color="primary"
>
  <h3 style="margin-left: 80px;">
    <img
      style="height: 30px; width: 100px"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Wish_logo.svg/1200px-Wish_logo.svg.png"
    />
  </h3>
  <div
    class="col-md-10"
    style="text-align: right; width: 100%; margin-top: 8px"
  >
    <a
    class="anchor"
      style="padding: 7px; padding-top: 10px"
      routerLink="/shop"
      routerLinkActive="routes"
      mat-button
      (click) = "spinnerAnimate()"
      >home</a
    >
    <a
    class="anchor"
      style="padding: 7px; padding-top: 10px"
      routerLink="/contact"
      routerLinkActive="routes"
      mat-button
      >contact</a
    >
    <a
    class="anchor"
      style="padding: 7px; padding-top: 10px"
      routerLink="/about"
      routerLinkActive="routes"
      mat-button
      >about</a
    >
    <span *ngIf="user.length === 0">
      <button
        style="
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background-color: rgb(62, 204, 133);
        "
        routerLink="/register"
        mat-raised-button
      >
        sign up
      </button>
      <button
        style="
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        "
        routerLink="/login"
        mat-raised-button
        color="accent"
      >
        login
      </button>
    </span>
    <span *ngIf="user.length > 0">
      <button
        style="
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        "
        mat-raised-button
        color="accent"
      >
        {{ user }}
      </button>
      <button
        style="
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        "
        (click)="logout()"
        mat-raised-button
        color="warn"
      >
        logout
      </button>
    </span>
  </div>
</mat-toolbar>
