<div style="font-size: small;text-align: center;">
  <div><strong>{{initem.title}}</strong></div>
  <div><span class="font-weight-bold">{{initem.price}}</span> x <span class="font-weight-bold">{{initem.qty}}</span> : <strong>{{
    initem.price * initem.qty | currency: "INR"
  }}</strong></div><span>
  <button  (click) = "remove()" mat-mini-fab color = "warn"><mat-icon>delete_forever</mat-icon></button>
</span>
</div>

