<div class="row" *ngIf="productList?.length > 0">
  <div class="col-md-4" *ngFor="let product of productList">
    <app-product-item
      [productitem]="product"
      [addedToWishList]="wishList.indexOf(product.id) >= 0"
    ></app-product-item>
  </div>
</div>

<div class="col-md-8 offset-2 text-center" style="height: 50vh; margin-top: 200px;" *ngIf = "productList?.length < 1">
  <div class="card">
    <div class="card-header">
      <h3 style="color: red;">sorry ☹️</h3>
    </div>
    <div class="card-body">
      <h3>no products found ! !</h3>
    </div>
  </div>
</div>
