<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card mat-elevation-z8 mt-4">
      <div
        *ngIf="!switch"
        class="card-header text-center"
        style="background-color: rgb(161, 169, 184)"
      >
        <strong>REGISTER HERE <i class="fas fa-user-plus"></i></strong>
      </div>

      <div
        *ngIf="switch"
        class="card-header text-center"
        style="background-color: rgb(173, 137, 68)"
      >
        username already exists!!
      </div>

      <div class="card-body">
        <form #registerform="ngForm" (ngSubmit)="register()">
          <div class="form-group mb-0">
            <label for="name">Name</label>
            <input
              class="form-control"
              type="text"
              id="name"
              name="name"
              placeholder="enter here"
              [(ngModel)]="registermodel.name"
              #name="ngModel"
              [class.is-invalid]="name.invalid && name.touched"
              required
              pattern="[0-9a-zA-Z]{4,}"
            />
          </div>

          <small
            class="text-danger"
            [class.d-none]="name.untouched || !name.errors?.required"
            >required</small
          >
          <div *ngIf="name.errors && (name.invalid || name.touched)">
            <!-- <small class="text-danger" *ngIf="name.errors.required">required</small> -->
            <small class="text-danger" *ngIf="name.errors.pattern"
              >name must be atleast 4 characters</small
            >
          </div>

          <div class="form-group mb-0">
            <label class="mt-3" for="username">Username</label>
            <input
              class="form-control"
              type="text"
              id="username"
              name="username"
              placeholder="enter here"
              [(ngModel)]="registermodel.username"
              #username="ngModel"
              [class.is-invalid]="username.invalid && username.touched"
              required
              pattern="[0-9a-zA-Z]{4,}"
            />
          </div>

          <small
            class="text-danger"
            [class.d-none]="username.untouched || !username.errors?.required"
            >required</small
          >
          <div
            *ngIf="username.errors && (username.invalid || username.touched)"
          >
            <!-- <small class="text-danger" *ngIf="username.errors.required">required</small> -->
            <small class="text-danger" *ngIf="username.errors.pattern"
              >username must be atleast 4 characters</small
            >
          </div>

          <div class="form-group mb-0">
            <label class="mt-3" for="email">Email</label>
            <input
              class="form-control"
              type="email"
              id="email"
              name="email"
              placeholder="enter here"
              [(ngModel)]="registermodel.email"
              #email="ngModel"
              [class.is-invalid]="email.invalid && email.touched"
              required
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
          </div>

          <small
            class="text-danger"
            [class.d-none]="email.untouched || !email.errors?.required"
            >required</small
          >
          <div *ngIf="email.errors && (email.invalid || email.touched)">
            <!-- <small class="text-danger" *ngIf="email.errors.required">required</small> -->
            <small class="text-danger" *ngIf="email.errors.pattern"
              >email must be valid</small
            >
          </div>

          <div
            ngModelGroup="passwordGroup"
            [class.custom-text]="
              confirmpassword.touched &&
              confirmpassword.invalid &&
              !confirmpassword.errors?.required
            "
          >
            <div class="form-group mb-0">
              <label class="mt-3" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                placeholder="enter here"
                [(ngModel)]="registermodel.password"
                #password="ngModel"
                [class.is-invalid]="password.invalid && password.touched"
                required
                pattern="[0-9a-zA-Z]{8,}"
                (input)="confirmpassword.control.updateValueAndValidity()"
              />
            </div>

            <small
              class="text-danger"
              [class.d-none]="password.untouched || !password.errors?.required"
              >required</small
            >
            <div
              *ngIf="password.errors && (password.invalid || password.touched)"
            >
              <!-- <small class="text-danger" *ngIf="password.errors.required">required</small> -->
              <small class="text-danger" *ngIf="password.errors.pattern"
                >password must be atleast 8 characters</small
              >
            </div>

            <div class="form-group mb-0">
              <label class="mt-3" for="confirmpassword">Confirm Password</label>
              <input
                class="form-control"
                type="password"
                id="confirmpassword"
                name="confirmpassword"
                placeholder="enter here"
                ngModel
                #confirmpassword="ngModel"
                [class.is-invalid]="
                  confirmpassword.invalid && confirmpassword.touched
                "
                appEqualvalidator="password"
                required
              />
            </div>

            <small
              class="text-danger"
              [class.d-none]="
                confirmpassword.untouched || !confirmpassword.errors?.required
              "
              >required</small
            >

            <div
              *ngIf="
                confirmpassword.errors &&
                (confirmpassword.invalid || confirmpassword.touched)
              "
            >
              <!-- <small class="text-danger" *ngIf="confirmpassword.errors.required">required</small> -->
              <small
                class="text-danger"
                *ngIf="
                  confirmpassword.errors.notEqual &&
                  confirmpassword.dirty &&
                  !confirmpassword.errors?.required
                "
                >password and confirm password do not match</small
              >
            </div>
          </div>

          <h4 class="mb-4 mt-4 text-center">
            already have an account!!
            <span><a routerLink="/login"> login!</a></span>
          </h4>

          <button
            class="btn btn-primary btn-block"
            type="submit"
            [disabled]="registerform.invalid"
            mat-raised-button
          >
            REGISTER
          </button>
          <button class="btn-block" type="reset" mat-raised-button>
            CLEAR
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<pre>
</pre>
