<div class="col-md-4 offset-4 text-center" style="height: 50vh; margin-top: 200px;">
  <div class="card">
    <div class="card-header">
      <h5 style="color: red;">404</h5>
    </div>
    <div class="card-body">
      <p>this page does not exist !!</p>
    </div>
  </div>
  <a class="float-left mt-2" routerLink = '/shop'>back to shop</a>
</div>
