<ul class="list-group position-fixed mat-elevation-z8">
  <li
    class="list-group-item"
    style="background-color: rgb(140, 149, 230); text-align: center"
  >
    <strong>Cart <i class="fas fa-shopping-cart" style="color: rgb(45, 16, 172);"></i></strong>
  </li>

  <div *ngIf="cartitem.length === 0; else elsepart" class="text-center">
    <li class="list-group-item">
      <strong>cart is empty</strong>
    </li>
  </div>

  <ng-template #elsepart>
    <li class="list-group-item" *ngFor="let item of cartitem">
      <app-cart-item [initem]="item"></app-cart-item>
    </li>
  </ng-template>

  <li
    class="list-group-item text-center"
    style="background-color: cornflowerblue; color: white"
  >
    <small
      >total :
      <span
        ><strong>{{ carttotal | currency: "INR" }}</strong></span
      >
    </small>
  </li>
</ul>
