<div class="row">
  <div class="col-md-8 offset-2" style="height: 100px">
    <button type="button" style="background-color: forestgreen;" routerLink="/shop" mat-raised-button>
      <i class="fas fa-arrow-left"></i> back
    </button>

    <div class="card mb-4  mat-elevation-z8">
      <!-- <div class="text-center" style="background-color: cadetblue">
        {{ productitem.id }}
      </div> -->
      <img
        style="height: 470px; width: 728px"
        class="bd-placeholder-img card-img-top"
        width="100%"
        [src]="productitem.imageUrl"
      />
      <div class="card-body">
        <strong class="card-text">
          {{ productitem.title }}
          <i
            *ngIf="addedToWishList"
            class="fas fa-heart float-right heart"
            (click)="handleRemoveFromWishList()"
          ></i>
          <i
            *ngIf="!addedToWishList"
            class="far fa-heart float-right heart"
            (click)="handleAddToWishList()"
          ></i>
        </strong>
        <div>
          <strong>{{ productitem.price | currency: "INR" }}</strong>
        </div>
        <p class="card-text">
          {{ productitem.description }}
        </p>
        <div class="float-right">
          <button
            style="background-color: rgb(174, 175, 250)"
            type="button"
            (click)="addToCart()"
            mat-raised-button
          >
            add to cart <i class="fas fa-cart-arrow-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 mt-3 p-3">
    <app-cart></app-cart>
  </div>
</div>
