<div class="card position-fixed mat-elevation-z8">
  <div
    class="card-header text-center"
    style="background-color: rgb(140, 149, 230)"
  >
    <strong
      >Filter <i class="fas fa-funnel-dollar" style="color: blueviolet"></i
    ></strong>
  </div>
  <div class="card-body">
    <form
      #filterform="ngForm"
      (ngSubmit)="filter(minprice.value, maxprice.value)"
    >
      <div class="form-group text-center">
        <h3>From ₹</h3>
        <!-- <input class="form-control" type="number" id="for" /> -->
        <select
          #minprice
          class="form-select form-select-md mb-1"
          style="border-radius: 7px"
        >
          <option *ngFor="let price of prices">{{ price }}</option>
        </select>
      </div>

      <div class="form-group text-center">
        <h3>To ₹</h3>
        <!-- <input class="form-control" type="number" id="to" /> -->
        <select #maxprice class="form-select" style="border-radius: 7px">
          <option *ngFor="let price of prices1.reverse()">{{ price }}</option>
        </select>
      </div>

      <button type="submit" mat-raised-button color="primary">
        Filter by Price
      </button>
    </form>
  </div>
</div>
