<div class="row">
  <div class="col">
    <app-filters (emitter) = "filterData($event)"></app-filters>
  </div>

  <div class="col-md-8">
    <app-product-list [minprice] = 'minprice' [maxprice] = 'maxprice'></app-product-list>
  </div>

  <div class="col">
    <app-cart></app-cart>
  </div>
</div>
